<!-- <div class="nostockData p-3" *ngIf="showErrorMessage" [ngClass]="{home: pageName=='home', watchlist: pageName=='watchlist', portfolio: pageName=='portfolio'}">
    <span>No data found. Please enter a valid Ticker</span>
    <svg xmlns="http://www.w3.org/2000/svg" (click)="resetInput()" width="22" height="22" fill="currentColor"
        class="bi bi-x resetButton" [ngClass]="{visibility: buttonStatus}"   viewBox="0 0 16 16">
        <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
    </svg>
</div> -->

<div class="nostockData p-3 container rounded" *ngIf="alertInfo.divStatus" [style.background-color]="alertInfo.bgColor">
    <span>{{ alertInfo.errorMessage }}</span>
    <svg xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;" (click)="resetInput()" width="22" height="22"
        fill="currentColor" class="bi bi-x resetButton" *ngIf="alertInfo.buttonStatus" viewBox="0 0 16 16">
        <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
    </svg>
</div>