div{
    margin: 0px auto;
    margin-top: 40px;
}
span{
    flex:1;
    text-align: center;
    padding: 0px;
}
.nostockData{
    height:50px;
    /* width:60%; */
    /* border-radius: 10px; */
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.samplestock{
    height:5vh;
    width:60%;
    border-radius: 10px;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.home{
    background-color: #f6d1d5;
}
.watchlist{
    background-color: #fff0c9;
}
.portfolio{
    background-color: #fff0c9;
}

.visibility{
    visibility: hidden;
}