<!-- <h1>Hello</h1> -->
<!-- <app-header> </app-header> -->

<!-- For this project i have used resources from Angular, Node, Bootstrap Documentation and AI tools like Chat gpt and Stack Overflow-->
<router-outlet></router-outlet>
<div class="d-flex flex-column min-vh-100">
    <router-outlet></router-outlet>
    <footer class="container-fluid py-3 mt-auto" style="background-color: #d8d8d8;">
        <div class="col-12 text-center">
            Powered by <a target="_blank" href="https://finnhub.io/">Finnhub.io</a>
        </div>
    </footer>
</div>