nav{
    background-color: #2224ab;
}

.navbar-brand{
    color:white;
}

#navbar-nav ul li a .nav-item{
    color:white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath d='M1.5 1.5h13v2h-13v-2zM1.5 7h13v2h-13v-2zM1.5 12.5h13v2h-13v-2z'/%3E%3C/svg%3E");
}

.right_navigation_bar li{
    margin-left:15px;
}

.router-link-active{
    border: 1px solid #ffffff;
    border-radius: 10px;
}